<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lg.engine.core.db.mapper.DeFormModelDetailMapper">
    <resultMap id="BaseResultMap" type="org.lg.engine.core.db.model.DeFormModelDetail">
        <!--@mbg.generated-->
        <!--@Table t_wf_de_form_model_detail-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified"/>
        <result column="form_model_id" jdbcType="BIGINT" property="formModelId"/>
        <result column="field_name" jdbcType="VARCHAR" property="fieldName"/>
        <result column="field_key" jdbcType="VARCHAR" property="fieldKey"/>
        <result column="field_cpt_type" jdbcType="VARCHAR" property="fieldCptType"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="flags" jdbcType="INTEGER" property="flags"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, gmt_create, gmt_modified, form_model_id, field_name, field_key, field_cpt_type,
        `status`, flags
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_wf_de_form_model_detail
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from t_wf_de_form_model_detail
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.lg.engine.core.db.model.DeFormModelDetail"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_wf_de_form_model_detail (gmt_create, gmt_modified, form_model_id,
        field_name, field_key, field_cpt_type,
        `status`, flags)
        values (#{gmtCreate,jdbcType=BIGINT}, #{gmtModified,jdbcType=BIGINT}, #{formModelId,jdbcType=BIGINT},
        #{fieldName,jdbcType=VARCHAR}, #{fieldKey,jdbcType=VARCHAR}, #{fieldCptType,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER}, #{flags,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="org.lg.engine.core.db.model.DeFormModelDetail">
        <!--@mbg.generated-->
        update t_wf_de_form_model_detail
        set gmt_create = #{gmtCreate,jdbcType=BIGINT},
        gmt_modified = #{gmtModified,jdbcType=BIGINT},
        form_model_id = #{formModelId,jdbcType=BIGINT},
        field_name = #{fieldName,jdbcType=VARCHAR},
        field_key = #{fieldKey,jdbcType=VARCHAR},
        field_cpt_type = #{fieldCptType,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=INTEGER},
        flags = #{flags,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_wf_de_form_model_detail
        (gmt_create, gmt_modified, form_model_id, field_name, field_key, field_cpt_type,
        `status`, flags)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.gmtCreate,jdbcType=BIGINT}, #{item.gmtModified,jdbcType=BIGINT},
            #{item.formModelId,jdbcType=BIGINT},
            #{item.fieldName,jdbcType=VARCHAR}, #{item.fieldKey,jdbcType=VARCHAR},
            #{item.fieldCptType,jdbcType=VARCHAR},
            #{item.status,jdbcType=INTEGER}, #{item.flags,jdbcType=INTEGER})
        </foreach>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2021-09-19-->
    <delete id="deleteByFormModelId">
        delete from t_wf_de_form_model_detail
        where form_model_id=#{formModelId,jdbcType=BIGINT}
    </delete>

    <!--auto generated by MybatisCodeHelper on 2021-09-19-->
    <select id="selectByFormModelId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_wf_de_form_model_detail
        where form_model_id=#{formModelId,jdbcType=BIGINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-09-19-->
</mapper>