<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lg.engine.core.db.mapper.ReProcessMapper">
  <resultMap id="BaseResultMap" type="org.lg.engine.core.db.model.ReProcess">
    <!--@mbg.generated-->
    <!--@Table t_wf_re_process-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="flags" jdbcType="INTEGER" property="flags" />
    <result column="proc_json" jdbcType="LONGVARCHAR" property="procJson" />
    <result column="proc_view_json" jdbcType="LONGVARCHAR" property="procViewJson" />
    <result column="proc_version" jdbcType="INTEGER" property="procVersion" />
    <result column="proc_key" jdbcType="VARCHAR" property="procKey" />
    <result column="proc_name" jdbcType="VARCHAR" property="procName" />
    <result column="proc_de_id" jdbcType="BIGINT" property="procDeId" />
    <result column="business_type" jdbcType="INTEGER" property="businessType" />
    <result column="form_model_re_id" jdbcType="BIGINT" property="formModelReId" />
    <result column="app_key" jdbcType="VARCHAR" property="appKey" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modified, `status`, flags, proc_json, proc_view_json, proc_version, 
    proc_key, proc_name, proc_de_id, business_type, form_model_re_id, app_key
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_wf_re_process
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_wf_re_process
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.lg.engine.core.db.model.ReProcess" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_wf_re_process (gmt_create, gmt_modified, `status`, 
      flags, proc_json, proc_view_json, 
      proc_version, proc_key, proc_name, 
      proc_de_id, business_type, form_model_re_id, 
      app_key)
    values (#{gmtCreate,jdbcType=BIGINT}, #{gmtModified,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{flags,jdbcType=INTEGER}, #{procJson,jdbcType=LONGVARCHAR}, #{procViewJson,jdbcType=LONGVARCHAR}, 
      #{procVersion,jdbcType=INTEGER}, #{procKey,jdbcType=VARCHAR}, #{procName,jdbcType=VARCHAR}, 
      #{procDeId,jdbcType=BIGINT}, #{businessType,jdbcType=INTEGER}, #{formModelReId,jdbcType=BIGINT}, 
      #{appKey,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.lg.engine.core.db.model.ReProcess">
    <!--@mbg.generated-->
    update t_wf_re_process
    set gmt_create = #{gmtCreate,jdbcType=BIGINT},
      gmt_modified = #{gmtModified,jdbcType=BIGINT},
      `status` = #{status,jdbcType=INTEGER},
      flags = #{flags,jdbcType=INTEGER},
      proc_json = #{procJson,jdbcType=LONGVARCHAR},
      proc_view_json = #{procViewJson,jdbcType=LONGVARCHAR},
      proc_version = #{procVersion,jdbcType=INTEGER},
      proc_key = #{procKey,jdbcType=VARCHAR},
      proc_name = #{procName,jdbcType=VARCHAR},
      proc_de_id = #{procDeId,jdbcType=BIGINT},
      business_type = #{businessType,jdbcType=INTEGER},
      form_model_re_id = #{formModelReId,jdbcType=BIGINT},
      app_key = #{appKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_wf_re_process
    (gmt_create, gmt_modified, `status`, flags, proc_json, proc_view_json, proc_version, 
      proc_key, proc_name, proc_de_id, business_type, form_model_re_id, app_key)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.gmtCreate,jdbcType=BIGINT}, #{item.gmtModified,jdbcType=BIGINT}, #{item.status,jdbcType=INTEGER}, 
        #{item.flags,jdbcType=INTEGER}, #{item.procJson,jdbcType=LONGVARCHAR}, #{item.procViewJson,jdbcType=LONGVARCHAR}, 
        #{item.procVersion,jdbcType=INTEGER}, #{item.procKey,jdbcType=VARCHAR}, #{item.procName,jdbcType=VARCHAR}, 
        #{item.procDeId,jdbcType=BIGINT}, #{item.businessType,jdbcType=INTEGER}, #{item.formModelReId,jdbcType=BIGINT}, 
        #{item.appKey,jdbcType=VARCHAR})
    </foreach>
  </insert>
    <!--auto generated by MybatisCodeHelper on 2021-06-17-->
    <select id="selectFirstByProcKeyOrderByProcVersionDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_wf_re_process
        where proc_key = #{procKey,jdbcType=VARCHAR}
        order by proc_version desc limit 1
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-09-26-->
    <select id="selectLastByProcKeyIn" resultMap="BaseResultMap">
        SELECT a.id,
        a.gmt_create,
        a.gmt_modified,
        a.form_model_re_id,
        a.proc_key,
        a.proc_version
        FROM t_wf_re_process a
        inner join
        (select max(id)id from
        t_wf_re_process group by proc_key) b on a.id = b.id
        where a.proc_key in
        <foreach close=")" collection="procKeyCollection" index="index" item="item" open="(" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>

    <!--auto generated by MybatisCodeHelper on 2021-11-28-->
    <update id="updateProcJsonById">
        update t_wf_re_process
        set proc_json=#{updatedProcJson,jdbcType=LONGVARCHAR}
        where id=#{id,jdbcType=BIGINT}
    </update>


</mapper>