<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lg.engine.core.db.mapper.RuTaskMapper">
  <resultMap id="BaseResultMap" type="org.lg.engine.core.db.model.RuTask">
    <!--@mbg.generated-->
    <!--@Table t_wf_ru_task-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="task_key" jdbcType="VARCHAR" property="taskKey" />
    <result column="procinst_id" jdbcType="BIGINT" property="procinstId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="actinst_id" jdbcType="BIGINT" property="actinstId" />
    <result column="proc_form_key" jdbcType="VARCHAR" property="procFormKey" />
    <result column="flags" jdbcType="INTEGER" property="flags" />
    <result column="task_level" jdbcType="INTEGER" property="taskLevel" />
    <result column="var_json" jdbcType="LONGVARCHAR" property="varJson" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modified, task_name, task_key, procinst_id, `status`, actinst_id, 
    proc_form_key, flags, task_level, var_json
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_wf_ru_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_wf_ru_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.lg.engine.core.db.model.RuTask" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_wf_ru_task (gmt_create, gmt_modified, task_name, 
      task_key, procinst_id, `status`, 
      actinst_id, proc_form_key, flags, 
      task_level, var_json)
    values (#{gmtCreate,jdbcType=BIGINT}, #{gmtModified,jdbcType=BIGINT}, #{taskName,jdbcType=VARCHAR}, 
      #{taskKey,jdbcType=VARCHAR}, #{procinstId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{actinstId,jdbcType=BIGINT}, #{procFormKey,jdbcType=VARCHAR}, #{flags,jdbcType=INTEGER}, 
      #{taskLevel,jdbcType=INTEGER}, #{varJson,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.lg.engine.core.db.model.RuTask">
    <!--@mbg.generated-->
    update t_wf_ru_task
    set gmt_create = #{gmtCreate,jdbcType=BIGINT},
      gmt_modified = #{gmtModified,jdbcType=BIGINT},
      task_name = #{taskName,jdbcType=VARCHAR},
      task_key = #{taskKey,jdbcType=VARCHAR},
      procinst_id = #{procinstId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=INTEGER},
      actinst_id = #{actinstId,jdbcType=BIGINT},
      proc_form_key = #{procFormKey,jdbcType=VARCHAR},
      flags = #{flags,jdbcType=INTEGER},
      task_level = #{taskLevel,jdbcType=INTEGER},
      var_json = #{varJson,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_wf_ru_task
    (gmt_create, gmt_modified, task_name, task_key, procinst_id, `status`, actinst_id, 
      proc_form_key, flags, task_level, var_json)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.gmtCreate,jdbcType=BIGINT}, #{item.gmtModified,jdbcType=BIGINT}, #{item.taskName,jdbcType=VARCHAR}, 
        #{item.taskKey,jdbcType=VARCHAR}, #{item.procinstId,jdbcType=BIGINT}, #{item.status,jdbcType=INTEGER}, 
        #{item.actinstId,jdbcType=BIGINT}, #{item.procFormKey,jdbcType=VARCHAR}, #{item.flags,jdbcType=INTEGER}, 
        #{item.taskLevel,jdbcType=INTEGER}, #{item.varJson,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
    <resultMap id="ActinstIdAndTaskIdDO" type="org.lg.engine.core.model.dos.ActinstIdAndTaskIdDO">
        <result column="actinst_id" property="actinstId" />
        <result column="id" property="id" />
    </resultMap>
    <!--auto generated by MybatisCodeHelper on 2021-05-12-->
    <select id="selectByIdIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_wf_ru_task
        where id in
        <foreach close=")" collection="idCollection" index="index" item="item" open="(" separator=",">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>
    <!--auto generated by MybatisCodeHelper on 2021-05-16-->
    <select id="selectIdByActinstId" resultType="java.lang.Long">
        select id
        from t_wf_ru_task
        where actinst_id = #{actinstId,jdbcType=BIGINT}
    </select>
    <!--auto generated by MybatisCodeHelper on 2021-05-19-->
    <delete id="deleteByProcInstId">
        delete
        from t_wf_ru_task
        where procinst_id = #{procinstId,jdbcType=BIGINT}
    </delete>
    <!--auto generated by MybatisCodeHelper on 2021-05-19-->
    <select id="selectByProcInstId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_wf_ru_task
        where procinst_id = #{procinstId,jdbcType=BIGINT}
    </select>
    <select id="selectRuTaskByActInstId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_wf_ru_task
        where actinst_id = #{actinstId,jdbcType=BIGINT}
    </select>
    <!--auto generated by MybatisCodeHelper on 2021-06-25-->
    <delete id="deleteByActinstIdIn">
        delete
        from t_wf_ru_task
        where actinst_id in
        <foreach close=")" collection="actinstIdCollection" index="index" item="item" open="(" separator=",">
            #{item,jdbcType=BIGINT}
        </foreach>
    </delete>
    <!--auto generated by MybatisCodeHelper on 2021-06-26-->
    <select id="selectFirstByActinstId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_wf_ru_task
        where actinst_id = #{actinstId,jdbcType=BIGINT}
        limit 1
    </select>
    <!--auto generated by MybatisCodeHelper on 2021-06-28-->
    <select id="selectByActinstIdIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_wf_ru_task
        where actinst_id in
        <foreach close=")" collection="actinstIdCollection" index="index" item="item" open="(" separator=",">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>
    <!--auto generated by MybatisCodeHelper on 2021-07-01-->
    <select id="selectIdByActinstIdIn" resultType="java.lang.Long">
        select id
        from t_wf_ru_task
        where actinst_id in
        <foreach close=")" collection="actinstIdCollection" index="index" item="item" open="(" separator=",">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>
    <!--auto generated by MybatisCodeHelper on 2021-07-06-->
    <select id="selectActinstIdAndIdByIdIn" resultMap="ActinstIdAndTaskIdDO">
        select actinst_id, id
        from t_wf_ru_task
        where id in
        <foreach close=")" collection="idCollection" index="index" item="item" open="(" separator=",">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>
    <!--auto generated by MybatisCodeHelper on 2021-08-05-->
    <select id="selectByProcinstIdOrderByGmtCreateAsc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_wf_ru_task
        where procinst_id = #{procinstId,jdbcType=BIGINT}
        order by gmt_create asc
    </select>

    <!--auto generated by MybatisCodeHelper on 2022-01-27-->
    <select id="selectFirstActinstIdById" resultType="java.lang.Long">
        select actinst_id
        from t_wf_ru_task
        where id=#{id,jdbcType=BIGINT} limit 1
    </select>

<!--auto generated by MybatisCodeHelper on 2024-03-12-->
  <select id="selectVarJsonById" resultType="java.lang.String">
        select var_json
        from t_wf_ru_task
        where id=#{id,jdbcType=BIGINT}
    </select>
</mapper>