<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lg.engine.portal.repository.mapper.BaasDemoMapper">
    <resultMap id="BaseResultMap" type="org.lg.engine.portal.repository.model.BaasDemoDo">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, gmt_create, gmt_modified
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_baas_demo
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from t_baas_demo
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="org.lg.engine.portal.repository.model.BaasDemoDo" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_baas_demo (gmt_create, gmt_modified)
        values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="org.lg.engine.portal.repository.model.BaasDemoDo" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_baas_demo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.lg.engine.portal.repository.model.BaasDemoDo">
        <!--@mbg.generated-->
        update t_baas_demo
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.lg.engine.portal.repository.model.BaasDemoDo">
        <!--@mbg.generated-->
        update t_baas_demo
        set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>


    <!-- 自定义 -->
    <sql id="wheres">
        <where>
            <if test="id != null ">
                id = #{id}
            </if>
        </where>
    </sql>


    <select id="list" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from t_baas_demo
        <include refid="wheres"/>
        <if test="start !=null and end !=null ">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        count(id)
        from t_baas_demo
        <include refid="wheres"/>
        <if test="start !=null and end !=null ">
            limit #{start},#{limit}
        </if>
    </select>
</mapper>