<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lg.upone.form.db.mapper.UponeSuggestionMapper">
  <resultMap id="BaseResultMap" type="org.lg.upone.form.db.model.UponeSuggestion">
    <!--@mbg.generated-->
    <!--@Table t_upone_suggestion-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="flags" jdbcType="INTEGER" property="flags" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
    <result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
    <result column="operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="operator_org_id" jdbcType="VARCHAR" property="operatorOrgId" />
    <result column="operator_org_name" jdbcType="VARCHAR" property="operatorOrgName" />
    <result column="operator_dept_id" jdbcType="VARCHAR" property="operatorDeptId" />
    <result column="operator_dept_name" jdbcType="VARCHAR" property="operatorDeptName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modified, `status`, flags, content, title, operator_id, operator_name, 
    operator_org_id, operator_org_name, operator_dept_id, operator_dept_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_upone_suggestion
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_upone_suggestion
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.lg.upone.form.db.model.UponeSuggestion" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_upone_suggestion (gmt_create, gmt_modified, `status`, 
      flags, content, title, 
      operator_id, operator_name, operator_org_id, 
      operator_org_name, operator_dept_id, operator_dept_name
      )
    values (#{gmtCreate,jdbcType=BIGINT}, #{gmtModified,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{flags,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}, #{title,jdbcType=LONGVARCHAR}, 
      #{operatorId,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{operatorOrgId,jdbcType=VARCHAR}, 
      #{operatorOrgName,jdbcType=VARCHAR}, #{operatorDeptId,jdbcType=VARCHAR}, #{operatorDeptName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.lg.upone.form.db.model.UponeSuggestion" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_upone_suggestion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="flags != null">
        flags,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="operatorName != null">
        operator_name,
      </if>
      <if test="operatorOrgId != null">
        operator_org_id,
      </if>
      <if test="operatorOrgName != null">
        operator_org_name,
      </if>
      <if test="operatorDeptId != null">
        operator_dept_id,
      </if>
      <if test="operatorDeptName != null">
        operator_dept_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="flags != null">
        #{flags,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorOrgId != null">
        #{operatorOrgId,jdbcType=VARCHAR},
      </if>
      <if test="operatorOrgName != null">
        #{operatorOrgName,jdbcType=VARCHAR},
      </if>
      <if test="operatorDeptId != null">
        #{operatorDeptId,jdbcType=VARCHAR},
      </if>
      <if test="operatorDeptName != null">
        #{operatorDeptName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lg.upone.form.db.model.UponeSuggestion">
    <!--@mbg.generated-->
    update t_upone_suggestion
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="flags != null">
        flags = #{flags,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorOrgId != null">
        operator_org_id = #{operatorOrgId,jdbcType=VARCHAR},
      </if>
      <if test="operatorOrgName != null">
        operator_org_name = #{operatorOrgName,jdbcType=VARCHAR},
      </if>
      <if test="operatorDeptId != null">
        operator_dept_id = #{operatorDeptId,jdbcType=VARCHAR},
      </if>
      <if test="operatorDeptName != null">
        operator_dept_name = #{operatorDeptName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lg.upone.form.db.model.UponeSuggestion">
    <!--@mbg.generated-->
    update t_upone_suggestion
    set gmt_create = #{gmtCreate,jdbcType=BIGINT},
      gmt_modified = #{gmtModified,jdbcType=BIGINT},
      `status` = #{status,jdbcType=INTEGER},
      flags = #{flags,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR},
      title = #{title,jdbcType=LONGVARCHAR},
      operator_id = #{operatorId,jdbcType=VARCHAR},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      operator_org_id = #{operatorOrgId,jdbcType=VARCHAR},
      operator_org_name = #{operatorOrgName,jdbcType=VARCHAR},
      operator_dept_id = #{operatorDeptId,jdbcType=VARCHAR},
      operator_dept_name = #{operatorDeptName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_upone_suggestion
    (gmt_create, gmt_modified, `status`, flags, content, title, operator_id, operator_name, 
      operator_org_id, operator_org_name, operator_dept_id, operator_dept_name)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.gmtCreate,jdbcType=BIGINT}, #{item.gmtModified,jdbcType=BIGINT}, #{item.status,jdbcType=INTEGER}, 
        #{item.flags,jdbcType=INTEGER}, #{item.content,jdbcType=LONGVARCHAR}, #{item.title,jdbcType=LONGVARCHAR}, 
        #{item.operatorId,jdbcType=VARCHAR}, #{item.operatorName,jdbcType=VARCHAR}, #{item.operatorOrgId,jdbcType=VARCHAR}, 
        #{item.operatorOrgName,jdbcType=VARCHAR}, #{item.operatorDeptId,jdbcType=VARCHAR}, 
        #{item.operatorDeptName,jdbcType=VARCHAR})
    </foreach>
  </insert>

<!--auto generated by MybatisCodeHelper on 2024-04-21-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_upone_suggestion order by id desc limit 100
    </select>
</mapper>